<div class="container welcome">
  <div class="album-header">
    <h2><%= album.title %></h2>
    <p>#<%= album.tag.name %></p>
  </div>
</div>

<div class="container">

  <div class="album-nav">
    <h3 class="right">
      <a class="delete" href="/albums/<%= album.id %>">Delete</a>
    </h3>
    <h3 class="left">
      <a class="edit" href="/albums/<%= album.id %>/edit">Edit</a>
    </h3>
  </div>

  <div class="scrapbook-container dark-background">
    <% album.photos.each do |photo| %>
      <%= erb :"/albums/_photo", locals: { photo: photo } %>
    <% end %>
  </div>
</div>

